<tr>
    <td><form action="/first_deal/<%= @username %>" method="post"><input type="number" name="bet" min=5 max=<%= @player.chips %> value=5><br><input type="submit" value="Place Bet"></form></td>
</tr>