<tr>
    <td>
      <form class="clickypoo" action="/first_deal" method="post">
        <input type="number" name="bet" min=5 max=<%= session[:player].chips %> value=5><br>
        <button class='clickypoo btn' type='submit' value='Bet'>Place Bet</button>
      </form>
    </td>
</tr>