<% @hand.each do |card|%> 
  <% if session[:switch] == "symbol" %>
    <p class="unicode_symb cards <%= color(card) %>"><%= unicode(card) %></p>
  <% else %>
    <p class="card_text cards <%= color(card) %>"><%= card.to_s %></p>
  <% end%>
<%end%>