<tr>
    <td><form method="post" action="/hit/<%= session[:username] %>"><input type="submit" value="Hit"></form></td>
    <td><form method="post" action="/stand/<%= session[:username] %>"><input type="submit" value="Stand"></form></td>
    <td><form method="post" action="/double/<%= session[:username] %>"><input type="submit" value="Double Down"></form></td>
</tr>