<tr>
    <td><form method="post" action="/hit/<%= @username %>"><input type="submit" value="Hit"></form></td>
    <td><form method="post" action="/stand/<%= @username %>"><input type="submit" value="Stand"></form></td>
    <td><form method="post" action="/double/<%= @username %>"><input type="submit" value="Double Down"></form></td>
</tr>