<form class="clickypoo" method="post" action="/hit"><button class='btn' type='submit' value='Hit'>Hit</button></form>
<form class="clickypoo" method="post" action="/stand"><button class='btn' type='submit' value='Stand'>Stand</button></form>
<% if session[:player].chips >= session[:bet]%>
  <form class="clickypoo" method="post" action="/double"><button class='btn' type='submit' value='Dbl'>Double Down</button></form>
<%end%>