<form class="clickypoo" method="post" action="/new_game"><button class='btn' type='submit' value='New'>New Hand</button></form>
<form class="clickypoo" method="post" action="/logout"><button class='btn' type='submit' value='Logout'>Logout</button></form>