<tr>
    <td><form method="post" action="/new_game/<%= @username %>"><input type="submit" value="Play new hand."></form></td>
    <td><form method="post" action="/logout"><input type="submit" value="Leave table and Logout."></form></td>
</tr>