<h1>Welcome back, <%= @player.gender %>. <%= @player.name %>.</h1>
<h2>Ready to play BlackJack?</h2>
<form method="post" action="/new_game/<%= @username %>">
  <input type="submit" value="Start new game">
</form>